body{
	margin:45px;
	font-family: sans-serif;
}

button{
	padding:10px 20px;
}

.result{
	margin-top:45px;
	padding:20px;
	border:1px solid gray;
	
	h4{
		margin:0 0 0 0;
		padding:0 0 10px 0;
		border-bottom: 1px solid gray;
	}
	
	p{
		padding:0;
	}
	
}